.container {
  display: flex;
  flex-direction: column;
  height: 18%;
  background-color: var(--morado-claro);
  .header {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    box-shadow: 0px 5px 3px var(--negro-claro);
    box-sizing: border-box;
    &__extend {
      flex: 1 1;
    }
    &__titulo {
      font-weight: 500;
      color: var(--morado-oscuro);
    }
    &__conectado {
      margin: 0px 15px;
      padding: 2px 10px;
      font-size: var(--h4-size);
      color: var(--negro-oscuro);
      background-color: var(--verde-claro);
      border-radius: 5px;
    }
    &__logo {
      height: 28px;
      width: 28px;
      font-size: 28px;
    }
  }
  .nav {
    &__lista {
      display: flex;
      align-items: center;
      list-style-type: none;
      
      &__elemento {
        &--active {
          background-color: var(--morado-oscuro);
          color: white;
        }
        font-size: var(--h3-size);
        font-weight: 550;
        text-align: center;
        margin-right: 10px;
        padding: 2px 5px;
        width: 100px;
        background-color: white;
        color: var(--negro-oscuro);
        border-radius: 5px;
        &:hover {
          cursor: pointer;
          background-color: var(--morado-medio);
        }
      }
    }
  }
}