<div class="container">
  <div class="card">
    <section class="left">
      <h1 class="left__titulo">Puyu-Net</h1>
      <mat-icon class="left__logo" fontIcon="cloud"></mat-icon>
      <h2 class="left__mensaje">¡Bienvenido a la red social del momento!</h2>
    </section>
    <section class="right">
      <h2 class="right__titulo">REGÍSTRATE </h2>
      <mat-icon class="right__logo" fontIcon="person_add"></mat-icon>
      <form [formGroup]="registerForm" class="right__form" (ngSubmit)="tryRegister()">
        <mat-form-field appearance="outline" class="right__form__field">
          <mat-label>Username</mat-label>
          <input (blur)="updateErrorMessageUsername()" formControlName="username" matInput placeholder="Ingrese su usuario">
          <mat-icon matSuffix>person</mat-icon>
          @if (f['username'].invalid) {
            <mat-error>{{sigErrorUsername()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="right__form__field">
          <mat-label>Email</mat-label>
          <input (blur)="updateErrorMessageEmail()" formControlName="email" matInput placeholder="Ingrese su email">
          <mat-icon matSuffix>alternate_email</mat-icon>
          @if (f['email'].invalid) {
            <mat-error>{{sigErrorEmail()}}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="right__form__field">
          <mat-label>Password</mat-label>
          <input (blur)="updateErrorMessagePassword()" formControlName="password" matInput placeholder="Ingrese su contraseña">
          <mat-icon matSuffix>locked</mat-icon>
          @if (f['password'].invalid) {
            <mat-error>{{sigErrorPassword()}}</mat-error>
          }
        </mat-form-field>
        <button type="submit" class="right__form__boton" mat-raised-button>Registrarse</button>
      </form>
      <h4 class="right__cambiar">¿Tienes cuenta?, <span class="right--morado" routerLink="/auth/login">Inicia Sesión</span></h4>
    </section>
  </div>
</div>
