/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

:root {
  --morado-oscuro: #4e1adf;
  --morado-medio: #7f51ff;
  --morado-claro: #dfd6f5;

  //--morado-medio: #d684fd;
  //--morado-claro: #e8b8ff;

  --azul-oscuro: #2d76ff;
  --azul-medio: #6bcffd;

  --verde-oscuro: #3ffd3b;
  --verde-medio: #82fd7f;
  --verde-claro: #a9fda7;

  --negro-oscuro: #181818;
  --negro-claro: #777877;

  --h1-size: 36px;
  --h2-size: 21px;
  --h3-size: 18px;
  --h4-size: 14px;

  h1 { font-size: 36px; margin: 0;}
  h2 { font-size: 21px; margin: 0;}
  h3 { font-size: 18px; margin: 0;}
  h4 { font-size: 14px; margin: 0;}

  @include mat.form-field-density(-3);

}


html, body { height: 100%; }
body { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
